.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f5f7fa;
  border-bottom: 1px solid #d1d5da;
  margin-bottom: 0px;
}

.navbar-left .brand {
  font-size: 24px;
  color: #4a4a4a;
}

.navbar-center {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon-container {
  position: relative;
}
.icon-bars {
  background-color: #333;
  color: white;
  padding: 7px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 49.5%;
}
.cart-icon {
  font-size: 24px;
  color: #4a4a4a;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.user-icon {
  font-size: 24px;
  color: #4a4a4a;
}

.cart-badge {
  position: absolute;
  color: #f08000;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
}

.icon-container {
  position: relative;
  margin-right: 10px;
}

.cart-icon {
  font-size: 1.5rem;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

/* SEARCH BAR */
.search-input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-button {
  padding: 9px 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-box-mobile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .search-box-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  .search-input {
    width: 200px;
  }
}

/* Sidebar Styles */

.side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Width of the sidebar */
  height: 100%;
  background-color: #333; /* Sidebar background color */
  color: white; /* Text color */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(-100%); /* Initially hidden off-screen */
  transition: transform 0.3s ease;
  z-index: 1000; /* Ensure it's above other content */
  padding: 20px;
}

.active-nav {
  transform: translateX(0); /* Slide in when active */
}

.side-navbar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Behind the sidebar but above other content */
}

/* Sidebar User Section */
.side-navbar-user {
  margin-bottom: 20px;
}

.side-navbar-user span {
  font-weight: bold;
  font-size: 1rem;
  color: white;
}

/* Sidebar Close Button */
.side-navbar button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-navbar div {
  margin-bottom: 15px;
}

.side-navbar a {
  text-decoration: none;
  color: white;
}

.side-navbar a:hover {
  text-decoration: underline;
}

.categories-closebtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Modal Menu */
.modal-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 49.5%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close-button {
  color: #717070;
  position: absolute;
  top: 15px;
  right: 25px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.modal-content-links {
  color: #f9f9f9;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin: 10px 0;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.modal-content-links:hover {
  background-color: #ddd;
  color: #000;
}

.category-click {
  cursor: pointer;
}
